# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [13]:
s1 = pd.Series (np.random.randint (1,4, 100))
s2 = pd.Series (np.random.randint (1,3,100))
s3 = pd.Series (np.random.randint (10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [16]:
pd.concat ([s1,s2,s3], axis=1)

    0  1      2
0   1  2  18626
1   1  1  16649
2   1  2  11144
3   2  1  29567
4   1  1  27603
.. .. ..    ...
95  3  2  13591
96  2  1  27673
97  1  1  17017
98  2  2  12472
99  1  2  21694

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299