# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
df = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [3]:
##lo dejamos como df

### Step 4. See the first 10 entries

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
df.count ()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [6]:
# Solution 2
len (df)

4622

In [7]:
df.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [8]:
len (df.columns)

5

### Step 7. Print the name of all the columns.

In [9]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

In [12]:
df.groupby('item_name').quantity.sum()

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [13]:
df.groupby('item_name').quantity.sum().max()

761

In [15]:
res = df.groupby('item_name').quantity.sum()

In [17]:
res.index

Index(['6 Pack Soft Drink', 'Barbacoa Bowl', 'Barbacoa Burrito',
       'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl', 'Barbacoa Soft Tacos',
       'Bottled Water', 'Bowl', 'Burrito', 'Canned Soda', 'Canned Soft Drink',
       'Carnitas Bowl', 'Carnitas Burrito', 'Carnitas Crispy Tacos',
       'Carnitas Salad', 'Carnitas Salad Bowl', 'Carnitas Soft Tacos',
       'Chicken Bowl', 'Chicken Burrito', 'Chicken Crispy Tacos',
       'Chicken Salad', 'Chicken Salad Bowl', 'Chicken Soft Tacos', 'Chips',
       'Chips and Fresh Tomato Salsa', 'Chips and Guacamole',
       'Chips and Mild Fresh Tomato Salsa',
       'Chips and Roasted Chili Corn Salsa',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Tomatillo Green Chili Salsa',
       'Chips and Tomatillo Red Chili Salsa',
       'Chips and Tomatillo-Green Chili Salsa',
       'Chips and Tomatillo-Red Chili Salsa', 'Crispy Tacos', 'Izze',
       'Nantucket Nectar', 'Salad', 'Side of Chips', 'Steak Bowl',
       'Steak Burrito', 'Steak Crispy Tacos', 'Steak Salad',
       'Steak Salad Bowl', 'Steak Soft Tacos', 'Veggie Bowl', 'Veggie Burrito',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Veggie Salad Bowl',
       'Veggie Soft Tacos'],
      dtype='object', name='item_name')

In [18]:
res.values

array([ 55,  66,  91,  12,  10,  25, 211,   4,   6, 126, 351,  71,  60,
         8,   1,   6,  40, 761, 591,  50,   9, 123, 120, 230, 130, 506,
         1,  23,  18,  45,  50,  33,  25,   2,  20,  29,   2, 110, 221,
       386,  36,   4,  31,  56,  87,  97,   1,   6,  18,   8], dtype=int64)

In [19]:
res.name

'quantity'

In [20]:
res.dtype

dtype('int64')

In [29]:
mo = res.idxmax()
mo

'Chicken Bowl'

In [28]:
df.groupby('item_name').quantity.sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [27]:
df.groupby('item_name').quantity.sum().sort_values(ascending=False)[:1]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [10]:
df.groupby ('item_name')['quantity'].max ()

item_name
6 Pack Soft Drink                         2
Barbacoa Bowl                             1
Barbacoa Burrito                          1
Barbacoa Crispy Tacos                     2
Barbacoa Salad Bowl                       1
Barbacoa Soft Tacos                       1
Bottled Water                            10
Bowl                                      3
Burrito                                   1
Canned Soda                               4
Canned Soft Drink                         4
Carnitas Bowl                             3
Carnitas Burrito                          2
Carnitas Crispy Tacos                     2
Carnitas Salad                            1
Carnitas Salad Bowl                       1
Carnitas Soft Tacos                       1
Chicken Bowl                              3
Chicken Burrito                           4
Chicken Crispy Tacos                      2
Chicken Salad                             1
Chicken Salad Bowl                        2
Chicken Soft Tacos                        2
Chips                                     3
Chips and Fresh Tomato Salsa             15
Chips and Guacamole                       4
Chips and Mild Fresh Tomato Salsa         1
Chips and Roasted Chili Corn Salsa        2
Chips and Roasted Chili-Corn Salsa        1
Chips and Tomatillo Green Chili Salsa     2
Chips and Tomatillo Red Chili Salsa       2
Chips and Tomatillo-Green Chili Salsa     2
Chips and Tomatillo-Red Chili Salsa       3
Crispy Tacos                              1
Izze                                      1
Nantucket Nectar                          2
Salad                                     1
Side of Chips                             8
Steak Bowl                                3
Steak Burrito                             3
Steak Crispy Tacos                        2
Steak Salad                               1
Steak Salad Bowl                          2
Steak Soft Tacos                          2
Veggie Bowl                               2
Veggie Burrito                            3
Veggie Crispy Tacos                       1
Veggie Salad                              1
Veggie Salad Bowl                         1
Veggie Soft Tacos                         2
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [33]:
mo

'Chicken Bowl'

In [32]:
df.groupby('item_name').quantity.sum().sort_values(ascending=False)[:1]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [34]:
df[df.item_name==mo].quantity.sum()

761

In [11]:
df.max ()

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price               $9.39
dtype: object

### [ ] Step 11. What was the most ordered item in the choice_description column?

###he encontrado la función sort_values, he ordenado por item_name y por quantity y modificado el orden a descendente para que me aparezca el mayor número de quantity

In [36]:
import seaborn as sns

In [38]:
a = sns.load_dataset('flights')

In [106]:
[f'{juana} {pepa}' for juana, pepa in zip(a.year, a.month)]

['1949 Jan',
 '1949 Feb',
 '1949 Mar',
 '1949 Apr',
 '1949 May',
 '1949 Jun',
 '1949 Jul',
 '1949 Aug',
 '1949 Sep',
 '1949 Oct',
 '1949 Nov',
 '1949 Dec',
 '1950 Jan',
 '1950 Feb',
 '1950 Mar',
 '1950 Apr',
 '1950 May',
 '1950 Jun',
 '1950 Jul',
 '1950 Aug',
 '1950 Sep',
 '1950 Oct',
 '1950 Nov',
 '1950 Dec',
 '1951 Jan',
 '1951 Feb',
 '1951 Mar',
 '1951 Apr',
 '1951 May',
 '1951 Jun',
 '1951 Jul',
 '1951 Aug',
 '1951 Sep',
 '1951 Oct',
 '1951 Nov',
 '1951 Dec',
 '1952 Jan',
 '1952 Feb',
 '1952 Mar',
 '1952 Apr',
 '1952 May',
 '1952 Jun',
 '1952 Jul',
 '1952 Aug',
 '1952 Sep',
 '1952 Oct',
 '1952 Nov',
 '1952 Dec',
 '1953 Jan',
 '1953 Feb',
 '1953 Mar',
 '1953 Apr',
 '1953 May',
 '1953 Jun',
 '1953 Jul',
 '1953 Aug',
 '1953 Sep',
 '1953 Oct',
 '1953 Nov',
 '1953 Dec',
 '1954 Jan',
 '1954 Feb',
 '1954 Mar',
 '1954 Apr',
 '1954 May',
 '1954 Jun',
 '1954 Jul',
 '1954 Aug',
 '1954 Sep',
 '1954 Oct',
 '1954 Nov',
 '1954 Dec',
 '1955 Jan',
 '1955 Feb',
 '1955 Mar',
 '1955 Apr',
 '1955 May',
 '1955 Jun',
 '1955 Jul',
 '1955 Aug',
 '1955 Sep',
 '1955 Oct',
 '1955 Nov',
 '1955 Dec',
 '1956 Jan',
 '1956 Feb',
 '1956 Mar',
 '1956 Apr',
 '1956 May',
 '1956 Jun',
 '1956 Jul',
 '1956 Aug',
 '1956 Sep',
 '1956 Oct',
 '1956 Nov',
 '1956 Dec',
 '1957 Jan',
 '1957 Feb',
 '1957 Mar',
 '1957 Apr',
 '1957 May',
 '1957 Jun',
 '1957 Jul',
 '1957 Aug',
 '1957 Sep',
 '1957 Oct',
 '1957 Nov',
 '1957 Dec',
 '1958 Jan',
 '1958 Feb',
 '1958 Mar',
 '1958 Apr',
 '1958 May',
 '1958 Jun',
 '1958 Jul',
 '1958 Aug',
 '1958 Sep',
 '1958 Oct',
 '1958 Nov',
 '1958 Dec',
 '1959 Jan',
 '1959 Feb',
 '1959 Mar',
 '1959 Apr',
 '1959 May',
 '1959 Jun',
 '1959 Jul',
 '1959 Aug',
 '1959 Sep',
 '1959 Oct',
 '1959 Nov',
 '1959 Dec',
 '1960 Jan',
 '1960 Feb',
 '1960 Mar',
 '1960 Apr',
 '1960 May',
 '1960 Jun',
 '1960 Jul',
 '1960 Aug',
 '1960 Sep',
 '1960 Oct',
 '1960 Nov',
 '1960 Dec']

In [105]:
[str(juana) + ' ' + pepa for juana, pepa in zip(a.year, a.month)]

['1949 Jan',
 '1949 Feb',
 '1949 Mar',
 '1949 Apr',
 '1949 May',
 '1949 Jun',
 '1949 Jul',
 '1949 Aug',
 '1949 Sep',
 '1949 Oct',
 '1949 Nov',
 '1949 Dec',
 '1950 Jan',
 '1950 Feb',
 '1950 Mar',
 '1950 Apr',
 '1950 May',
 '1950 Jun',
 '1950 Jul',
 '1950 Aug',
 '1950 Sep',
 '1950 Oct',
 '1950 Nov',
 '1950 Dec',
 '1951 Jan',
 '1951 Feb',
 '1951 Mar',
 '1951 Apr',
 '1951 May',
 '1951 Jun',
 '1951 Jul',
 '1951 Aug',
 '1951 Sep',
 '1951 Oct',
 '1951 Nov',
 '1951 Dec',
 '1952 Jan',
 '1952 Feb',
 '1952 Mar',
 '1952 Apr',
 '1952 May',
 '1952 Jun',
 '1952 Jul',
 '1952 Aug',
 '1952 Sep',
 '1952 Oct',
 '1952 Nov',
 '1952 Dec',
 '1953 Jan',
 '1953 Feb',
 '1953 Mar',
 '1953 Apr',
 '1953 May',
 '1953 Jun',
 '1953 Jul',
 '1953 Aug',
 '1953 Sep',
 '1953 Oct',
 '1953 Nov',
 '1953 Dec',
 '1954 Jan',
 '1954 Feb',
 '1954 Mar',
 '1954 Apr',
 '1954 May',
 '1954 Jun',
 '1954 Jul',
 '1954 Aug',
 '1954 Sep',
 '1954 Oct',
 '1954 Nov',
 '1954 Dec',
 '1955 Jan',
 '1955 Feb',
 '1955 Mar',
 '1955 Apr',
 '1955 May',
 '1955 Jun',
 '1955 Jul',
 '1955 Aug',
 '1955 Sep',
 '1955 Oct',
 '1955 Nov',
 '1955 Dec',
 '1956 Jan',
 '1956 Feb',
 '1956 Mar',
 '1956 Apr',
 '1956 May',
 '1956 Jun',
 '1956 Jul',
 '1956 Aug',
 '1956 Sep',
 '1956 Oct',
 '1956 Nov',
 '1956 Dec',
 '1957 Jan',
 '1957 Feb',
 '1957 Mar',
 '1957 Apr',
 '1957 May',
 '1957 Jun',
 '1957 Jul',
 '1957 Aug',
 '1957 Sep',
 '1957 Oct',
 '1957 Nov',
 '1957 Dec',
 '1958 Jan',
 '1958 Feb',
 '1958 Mar',
 '1958 Apr',
 '1958 May',
 '1958 Jun',
 '1958 Jul',
 '1958 Aug',
 '1958 Sep',
 '1958 Oct',
 '1958 Nov',
 '1958 Dec',
 '1959 Jan',
 '1959 Feb',
 '1959 Mar',
 '1959 Apr',
 '1959 May',
 '1959 Jun',
 '1959 Jul',
 '1959 Aug',
 '1959 Sep',
 '1959 Oct',
 '1959 Nov',
 '1959 Dec',
 '1960 Jan',
 '1960 Feb',
 '1960 Mar',
 '1960 Apr',
 '1960 May',
 '1960 Jun',
 '1960 Jul',
 '1960 Aug',
 '1960 Sep',
 '1960 Oct',
 '1960 Nov',
 '1960 Dec']

In [100]:
a.year + ' ' + a.month

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U21'), dtype('<U21')) -> dtype('<U21')

In [45]:
a['fecha'] = pd.to_datetime([f'{y} {m}' for y,m in zip(a.year, a.month)])

In [48]:
a.fecha.dt.daysinmonth

0      31
1      28
2      31
3      30
4      31
       ..
139    31
140    30
141    31
142    30
143    31
Name: fecha, Length: 144, dtype: int64

In [97]:
lista = []

In [98]:
for pepa, juana in zip(a.year, a.month): #pepa = 1949, #juana='Jan'´## pepa = 1949, juana = 'Feb'
    res = str(pepa) + ' ' + juana # res = '1949 Jan', res = 
    lista.append(res) # ['1949 Jan'] 
    if ....
        compra.append(..)
    elif cond2:
        id.append(...)
    else:
        venta.append(...)
    if pepa == 1950:
        break;

In [99]:
lista

['1949 Jan',
 '1949 Feb',
 '1949 Mar',
 '1949 Apr',
 '1949 May',
 '1949 Jun',
 '1949 Jul',
 '1949 Aug',
 '1949 Sep',
 '1949 Oct',
 '1949 Nov',
 '1949 Dec',
 '1950 Jan',
 '1950 Feb',
 '1950 Mar',
 '1950 Apr',
 '1950 May',
 '1950 Jun',
 '1950 Jul',
 '1950 Aug',
 '1950 Sep',
 '1950 Oct',
 '1950 Nov',
 '1950 Dec',
 '1951 Jan',
 '1951 Feb',
 '1951 Mar',
 '1951 Apr',
 '1951 May',
 '1951 Jun',
 '1951 Jul',
 '1951 Aug',
 '1951 Sep',
 '1951 Oct',
 '1951 Nov',
 '1951 Dec',
 '1952 Jan',
 '1952 Feb',
 '1952 Mar',
 '1952 Apr',
 '1952 May',
 '1952 Jun',
 '1952 Jul',
 '1952 Aug',
 '1952 Sep',
 '1952 Oct',
 '1952 Nov',
 '1952 Dec',
 '1953 Jan',
 '1953 Feb',
 '1953 Mar',
 '1953 Apr',
 '1953 May',
 '1953 Jun',
 '1953 Jul',
 '1953 Aug',
 '1953 Sep',
 '1953 Oct',
 '1953 Nov',
 '1953 Dec',
 '1954 Jan',
 '1954 Feb',
 '1954 Mar',
 '1954 Apr',
 '1954 May',
 '1954 Jun',
 '1954 Jul',
 '1954 Aug',
 '1954 Sep',
 '1954 Oct',
 '1954 Nov',
 '1954 Dec',
 '1955 Jan',
 '1955 Feb',
 '1955 Mar',
 '1955 Apr',
 '1955 May',
 '1955 Jun',
 '1955 Jul',
 '1955 Aug',
 '1955 Sep',
 '1955 Oct',
 '1955 Nov',
 '1955 Dec',
 '1956 Jan',
 '1956 Feb',
 '1956 Mar',
 '1956 Apr',
 '1956 May',
 '1956 Jun',
 '1956 Jul',
 '1956 Aug',
 '1956 Sep',
 '1956 Oct',
 '1956 Nov',
 '1956 Dec',
 '1957 Jan',
 '1957 Feb',
 '1957 Mar',
 '1957 Apr',
 '1957 May',
 '1957 Jun',
 '1957 Jul',
 '1957 Aug',
 '1957 Sep',
 '1957 Oct',
 '1957 Nov',
 '1957 Dec',
 '1958 Jan',
 '1958 Feb',
 '1958 Mar',
 '1958 Apr',
 '1958 May',
 '1958 Jun',
 '1958 Jul',
 '1958 Aug',
 '1958 Sep',
 '1958 Oct',
 '1958 Nov',
 '1958 Dec',
 '1959 Jan',
 '1959 Feb',
 '1959 Mar',
 '1959 Apr',
 '1959 May',
 '1959 Jun',
 '1959 Jul',
 '1959 Aug',
 '1959 Sep',
 '1959 Oct',
 '1959 Nov',
 '1959 Dec',
 '1960 Jan',
 '1960 Feb',
 '1960 Mar',
 '1960 Apr',
 '1960 May',
 '1960 Jun',
 '1960 Jul',
 '1960 Aug',
 '1960 Sep',
 '1960 Oct',
 '1960 Nov',
 '1960 Dec']

In [49]:
a.fecha.dt.day_name()

0      Saturday
1       Tuesday
2       Tuesday
3        Friday
4        Sunday
         ...
139      Monday
140    Thursday
141    Saturday
142     Tuesday
143    Thursday
Name: fecha, Length: 144, dtype: object

In [51]:
a.fecha.isna().sum()

0

In [41]:
a['year'].values + a['month'].values

TypeError: Object with dtype category cannot perform the numpy op add

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [54]:
df.choice_description.str.replace('[', '').str.replace(']', '').str.split(',')

<ipython-input-54-4bcff71fd3d8>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.choice_description.str.replace('[', '').str.replace(']', '').str.split(',')

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot),  Black Beans...
                              ...
4617    [Fresh Tomato Salsa,  Rice,  Black Beans,  Sou...
4618    [Fresh Tomato Salsa,  Rice,  Sour Cream,  Chee...
4619    [Fresh Tomato Salsa,  Fajita Vegetables,  Pint...
4620    [Fresh Tomato Salsa,  Fajita Vegetables,  Lett...
4621    [Fresh Tomato Salsa,  Fajita Vegetables,  Pint...
Name: choice_description, Length: 4622, dtype: object

In [59]:
df.groupby(by='choice_description').quantity.sum().sort_values(ascending=False)[:1]

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

In [61]:
df.groupby(by='choice_description').quantity.sum().sort_values(ascending=False)[:2]

choice_description
[Diet Coke]    159
[Coke]         143
Name: quantity, dtype: int64

In [62]:
df.groupby(by='choice_description').quantity.sum().sort_values(ascending=False)[:3]

choice_description
[Diet Coke]    159
[Coke]         143
[Sprite]        89
Name: quantity, dtype: int64

In [58]:
df.groupby(by='choice_description').quantity.sum().sort_values(ascending=False)

choice_description
[Diet Coke]                                                                                                                159
[Coke]                                                                                                                     143
[Sprite]                                                                                                                    89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                      49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                               42
                                                                                                                          ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Guacamole, Lettuce]]                                       1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Sour Cream, Lettuce]]                                                   1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Lettuce, Guacamole]]                                              1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cream, Rice, Fajita Vegetables, Lettuce]]                                        1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]      1
Name: quantity, Length: 1043, dtype: int64

In [38]:
df.sort_values (by=['quantity','item_name'], ascending = (False, True))

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,$44.25 $44.25 $44.25 $44.25 $44.25 $44.25 $44....
4152,1660,10,Bottled Water,NaN,$15.00,$15.00 $15.00 $15.00 $15.00 $15.00 $15.00 $15....
3887,1559,8,Side of Chips,NaN,$13.52,$13.52 $13.52 $13.52 $13.52 $13.52 $13.52 $13....
3599,1443,7,Bottled Water,NaN,$10.50,$10.50 $10.50 $10.50 $10.50 $10.50 $10.50 $10.50
2441,970,5,Bottled Water,NaN,$7.50,$7.50 $7.50 $7.50 $7.50 $7.50
...,...,...,...,...,...,...
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,$8.75
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,$11.25
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,$8.49

### Step 12. How many items were ordered in total?

###he agrupado por cantidad y al final he sumado, pero no me da lo que busco

In [64]:
df.quantity.sum()

4972

In [14]:
df.groupby ('quantity').sum ()

          order_id
quantity
1          4032682
2           205258
3            29105
4            11652
5              970
7             1443
8             1559
10            1660
15            1443

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [15]:
df ['item_price'].dtypes

dtype('O')

In [68]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### [ ]  Step 13.b. Create a lambda function and change the type of item price

In [27]:
## no entiendo la función lambda así que lo he intentado de otros modos, sin éxito. sólo me deja convertirlo a string, pero no me sirve para hacer cálculos con la columna

In [73]:
df.item_price

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [84]:
def conversion(x):
    return float(x)

In [86]:
conversion('$3.4')

ValueError: could not convert string to float: '$3.4'

In [89]:
conversion2 = lambda x: float(x)

In [90]:
conversion2('$3.4')

ValueError: could not convert string to float: '$3.4'

In [83]:
df.item_price.str.replace('$', '').apply()

<ipython-input-83-64df39e219b1>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.item_price.str.replace('$', '')

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [75]:
df.item_price.apply(func = lambda pepa: float(pepa[1:]))

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [74]:
df.item_price.apply(func = lambda pepa: pepa[1:])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [71]:
df.item_price.apply(func = lambda pepa: float(pepa))

ValueError: could not convert string to float: '$2.39 '

In [25]:
float (df.item_price)

TypeError: cannot convert the series to <class 'float'>

In [26]:
df['item_price'] = df['item_price'].astype('string')

In [108]:
df.item_price = df.item_price.apply(func = lambda pepa: float(pepa[1:]))

#### Step 13.c. Check the item price type

In [109]:
df ['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [22]:
## he creado una nueva columna llamada revenue, que tuviese la función de multiplicar la columan de precio * la cantidad y luego he hecho un sumatorio de esa columna revenue

In [111]:
df["revenue"] = df["item_price"] * df["quantity"]
df.revenue (sum)

TypeError: 'Series' object is not callable

In [113]:
df.revenue.sum()

39237.02

In [114]:
sum(df.revenue)

39237.020000000055

### Step 15. How many orders were made in the period?

In [117]:
df.order_id.value_counts().count()

1834

In [120]:
df.order_id.unique()

array([   1,    2,    3, ..., 1832, 1833, 1834], dtype=int64)

In [121]:
len(df.order_id.unique())

1834

In [21]:
len (df.order_id)

4622

### Step 16. What is the average revenue amount per order?

In [124]:
df

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [125]:
df.groupby('order_id').revenue.mean()

order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: revenue, Length: 1834, dtype: float64

In [29]:
# Solution 1
total_ingresos = df.revenue (sum)
total_ordenes = len (df.order_id)
av_revenues = total_ingresos/total_ordenes

TypeError: 'Series' object is not callable

In [4]:
# Solution 2

### Step 17. How many different items are sold?

####había hecho hasta value_counts (), pero me parecía raro que me diese el total por tipo de producto. en las soluciones he visto que añadía el count (), pero no entiendo cómo me saca 50. qué hace el count realmente?

In [128]:
len(df.item_name.unique())

50

In [132]:
df.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [131]:
df.item_name.value_counts().count()

50

In [129]:
df.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [127]:
df.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [37]:
df.item_name.value_counts (). count ()

50