# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
df = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [4]:
##lo dejamos como df

### Step 4. See the first 10 entries

In [5]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
df.count ()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [7]:
# Solution 2
len (df)

4622

### Step 6. What is the number of columns in the dataset?

In [8]:
len (df.columns)

5

### Step 7. Print the name of all the columns.

In [9]:
print (df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

In [10]:
df.groupby ('item_name')['quantity'].max ()

item_name
6 Pack Soft Drink                         2
Barbacoa Bowl                             1
Barbacoa Burrito                          1
Barbacoa Crispy Tacos                     2
Barbacoa Salad Bowl                       1
Barbacoa Soft Tacos                       1
Bottled Water                            10
Bowl                                      3
Burrito                                   1
Canned Soda                               4
Canned Soft Drink                         4
Carnitas Bowl                             3
Carnitas Burrito                          2
Carnitas Crispy Tacos                     2
Carnitas Salad                            1
Carnitas Salad Bowl                       1
Carnitas Soft Tacos                       1
Chicken Bowl                              3
Chicken Burrito                           4
Chicken Crispy Tacos                      2
Chicken Salad                             1
Chicken Salad Bowl                        2
Chicken Soft Tacos                        2
Chips                                     3
Chips and Fresh Tomato Salsa             15
Chips and Guacamole                       4
Chips and Mild Fresh Tomato Salsa         1
Chips and Roasted Chili Corn Salsa        2
Chips and Roasted Chili-Corn Salsa        1
Chips and Tomatillo Green Chili Salsa     2
Chips and Tomatillo Red Chili Salsa       2
Chips and Tomatillo-Green Chili Salsa     2
Chips and Tomatillo-Red Chili Salsa       3
Crispy Tacos                              1
Izze                                      1
Nantucket Nectar                          2
Salad                                     1
Side of Chips                             8
Steak Bowl                                3
Steak Burrito                             3
Steak Crispy Tacos                        2
Steak Salad                               1
Steak Salad Bowl                          2
Steak Soft Tacos                          2
Veggie Bowl                               2
Veggie Burrito                            3
Veggie Crispy Tacos                       1
Veggie Salad                              1
Veggie Salad Bowl                         1
Veggie Soft Tacos                         2
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
df.max ()

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price               $9.39
dtype: object

### Step 11. What was the most ordered item in the choice_description column?

###he encontrado la función sort_values, he ordenado por item_name y por quantity y modificado el orden a descendente para que me aparezca el mayor número de quantity

In [38]:
df.sort_values (by=['quantity','item_name'], ascending = (False, True))

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,$44.25 $44.25 $44.25 $44.25 $44.25 $44.25 $44....
4152,1660,10,Bottled Water,NaN,$15.00,$15.00 $15.00 $15.00 $15.00 $15.00 $15.00 $15....
3887,1559,8,Side of Chips,NaN,$13.52,$13.52 $13.52 $13.52 $13.52 $13.52 $13.52 $13....
3599,1443,7,Bottled Water,NaN,$10.50,$10.50 $10.50 $10.50 $10.50 $10.50 $10.50 $10.50
2441,970,5,Bottled Water,NaN,$7.50,$7.50 $7.50 $7.50 $7.50 $7.50
...,...,...,...,...,...,...
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,$8.75
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,$11.25
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,$8.49

### Step 12. How many items were ordered in total?

###he agrupado por cantidad y al final he sumado, pero no me da lo que busco

In [14]:
df.groupby ('quantity').sum ()

          order_id
quantity
1          4032682
2           205258
3            29105
4            11652
5              970
7             1443
8             1559
10            1660
15            1443

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [15]:
df ['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [27]:
## no entiendo la función lambda así que lo he intentado de otros modos, sin éxito. sólo me deja convertirlo a string, pero no me sirve para hacer cálculos con la columna

In [25]:
float (df.item_price)

TypeError: cannot convert the series to <class 'float'>

In [26]:
df['item_price'] = df['item_price'].astype('string')

#### Step 13.c. Check the item price type

In [17]:
df ['item_price'].dtypes

StringDtype

### Step 14. How much was the revenue for the period in the dataset?

In [22]:
## he creado una nueva columna llamada revenue, que tuviese la función de multiplicar la columan de precio * la cantidad y luego he hecho un sumatorio de esa columna revenue

In [23]:
df["revenue"] = df["item_price"] * df["quantity"]
df.revenue (sum)

TypeError: 'Series' object is not callable

### Step 15. How many orders were made in the period?

In [21]:
len (df.order_id)

4622

### Step 16. What is the average revenue amount per order?

In [29]:
# Solution 1
total_ingresos = df.revenue (sum)
total_ordenes = len (df.order_id)
av_revenues = total_ingresos/total_ordenes

TypeError: 'Series' object is not callable

In [4]:
# Solution 2

### Step 17. How many different items are sold?

####había hecho hasta value_counts (), pero me parecía raro que me diese el total por tipo de producto. en las soluciones he visto que añadía el count (), pero no entiendo cómo me saca 50. qué hace el count realmente?

In [37]:
df.item_name.value_counts (). count ()

50