# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv (url, sep = '\t')
df. head (1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

### Step 4. [_]How many products cost more than $10.00?

In [12]:
## convertiría item_price cargandome el símbolo de dollar (hacerlo float).
##pondría un filtro para que me coja sólo los que superen los 10.
##haría un count () para sacar el total de item_price que superan los 10.

In [11]:
df.iloc[:, 4].replace("\$", "", inplace=True, regex=True)
df.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
df2 = df('item_name','item_price')
df2.head (1)

TypeError: 'DataFrame' object is not callable

### Step 6. Sort by the name of the item

In [5]:
df.item_name.sort_values ()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
##he encontrado esta solucion, y parece correcta, pero no entiendo muy bien el código

In [6]:
print(df [['item_price','quantity']][df.item_price==df['item_price'].max()])

     item_price  quantity
607      $9.39          1
1418     $9.39          1
1421     $9.39          1
1825     $9.39          1
1865     $9.39          1
2600     $9.39          1
2624     $9.39          1
3098     $9.39          1
3115     $9.39          1
3356     $9.39          1
4036     $9.39          1
4241     $9.39          1
4390     $9.39          1
4391     $9.39          1
4419     $9.39          1
4547     $9.39          1
4572     $9.39          1

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [7]:
df.groupby('item_name').get_group('Veggie Salad Bowl').shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [20]:
df2 = df[(df.item_name == 'Canned Soda')&(df.quantity >1)]
df2.value_counts().count()

20